.contact {
   padding-bottom: 0;
}

.contact__container {
   position: relative;
   grid-template-rows: 300px max-content max-content;
   row-gap: 0;
}

.contact__data {
   background-color: var(--container-color);
   border-bottom: 4px solid var(--first-color);
   position: relative;
   padding: 3rem 1.5rem 3.5rem;
   margin-left: auto;
   width: 300px;
   height: 300px;
   z-index: 5;
   transition: background-color .4s ease;
}

.contact__data .section__title-2 {
   margin: 0 0 1.5rem;
   transform: translateX(-3rem);
}

.contact__description-1 {
   color: var(--title-color);
   font-weight: var(--font-medium);
   margin-bottom: 2rem;
}

.contact__description-2 {
   color: var(--title-color);
   font-size: var(--small-font-size);
}

.contact__data .geometric-box {
   top: 2rem;
   right: 2.5rem;
}

.contact__mail {
   background-color: var(--black-color);
   position: relative;
   padding: 5rem 1.5rem 2.5rem;
   margin-top: -2.5rem;
   transition: background-color .4s ease;
}

.contact__title {
   color: var(--white-color);
   font-size: var(--h2-font-size);
   margin-bottom: 2rem;
   text-align: center;
}

.contact__form,
.contact__group {
   display: grid;
   row-gap: 1.25rem;
}

.contact__form {
   position: relative;
}

.contact__box {
   position: relative;
   width: 100%;
   height: 58px;
}

.contact__input,
.contact__button {
   border: none;
   font-family: var(--body-font);
   font-size: var(--normal-font-size);
   outline: none;
}

.contact__input {
   background-color: var(--black-color);
   border: 1.5px solid var(--black-color-light);
   border-radius: .2rem;
   color: var(--white-color);
   padding: .5rem 1rem ;
   font-weight: var(--font-medium);
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   width: 100%;
   height: 100%;
   transition: border .4s ease, background-color .4s ease;
}

.contact__input::placeholder {
   color: var(--text-color-light);
   transition: opacity .4s ease;
}

.contact__input:focus {
   border: 1.5px solid var(--white-color);
}

.contact__input:-webkit-autofill {
   transition: background-color 6000s, color 6000s;
}

.contact__label {
   background-color: var(--black-color);
   color: var(--text-color-light);
   font-size: var(--small-font-size);
   font-weight: var(--font-medium);
   padding: 8px;
   pointer-events: none;
   position: absolute;
   top: 8px;
   left: 10px;
   transition: top .4s ease, opacity .4s ease, background-color .4s ease;
   opacity: 0;
}

.contact__form .contact__area {
   height: 10rem;
}

.contact__area textarea {
   padding-top: 1rem;
   resize: none;
}

.contact__button {
   background-color: var(--first-color);
   cursor: pointer;
}